:root[b-sl5wo865j0] {
    --stripe-width: 25px;
    --primary-green: #9E9D63;
    --secondary-green: #CFCEA6;
    --tertiary-green: #FBF7EE;
    --primary-red: #7A0A11;
    --outer-div-margin: 60px;
    --main-border-radius: 5px;
}

.background-div[b-sl5wo865j0] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: repeating-linear-gradient( 90deg, var(--primary-green) 0, var(--primary-green) var(--stripe-width), var(--secondary-green) var(--stripe-width), var(--secondary-green) calc(var(--stripe-width) * 2) );
}

.main-card[b-sl5wo865j0] {
    position: fixed;
    top: var(--outer-div-margin);
    left: var(--outer-div-margin);
    right: var(--outer-div-margin);
    bottom: var(--outer-div-margin);
    background: var(--tertiary-green);
    border-radius: 10px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
}

.main-card-border[b-sl5wo865j0] {
    position: fixed;
    top: calc(var(--outer-div-margin) + 20px);
    left: calc(var(--outer-div-margin) + 20px);
    right: calc(var(--outer-div-margin) + 20px);
    bottom: calc(var(--outer-div-margin) + 20px);
    background: var(--tertiary-green);
    border-radius: 10px;
    border: 2px dashed var(--primary-green);
    display: flex;
    justify-content: center;
    overflow: auto;
}

.splitter[b-sl5wo865j0] {
    height: 2px;
    background: var(--primary-green);
    width: 90%;
    margin: 0 auto;
    margin-top: -10px;
}

.main-content[b-sl5wo865j0] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.search-input:focus[b-sl5wo865j0] {
    outline: none;
}

.results-div[b-sl5wo865j0] {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.results-button[b-sl5wo865j0] {
    width: 150px;
    height: 50px;
    background: white;
    color: var(--primary-green);
    border: 2px solid var(--primary-green);
    border-radius: var(--main-border-radius);
    cursor: pointer;
}

    .results-button:hover[b-sl5wo865j0] {
        background: var(--primary-green);
        color: white;
    }
